/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	/** Up until here --- inheritance gets applied */
	padding: 30px;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(126, 213, 111, 0.801),
			rgba(40, 180, 133, 0.801)
		),
		url(../img/hero.jpg); /** Accepts comma-separated images (z-index applied from top to bottom) */
	background-size: cover; /** Make the image width fit in the box (ie. 100vw) */
	background-position: top; /** Where the background will fix the image while cropping from other directions */

	clip-path: polygon(
		0 0,
		100% 0,
		100% 75vh,
		0 100%
	); /** Polygon that will be kept from the image */
	/** Clippy: reference for simplifying clip-paths with GUI */
}
